@import url(https://fonts.googleapis.com/css?family=Coda);

html {
    margin:0;
    background: black;
    color: white;
    font-family: 'Coda', 'Arial';
}
body {
    margin:0;
}
a {
    color: #7070ff;
}
input[type=button], .igt-button {
    border: 1px solid #40ebcd;
    border-radius: 0;
    padding: 0.4em 1em;
    background: #105050;
    color: white;
    font-family: 'Coda', 'Arial';
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px #40c0c0 solid;
}
